.trip{
    position: relative;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    top: 50px;
}
.hr{
    position: relative;
    margin-left: 350px;
    margin-right: 810px;
    top: -7px;
}
.hr1{
    position: relative;
    margin-left: 820px;
    margin-right: 350px;
    top: -15px;
}
.paris{
    position: relative;
    top: 80px;
    left: 525px;
    border: 1px solid #f10505;
    width: 300px;
    height: 310px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px rgb(224, 216, 216);
}
.paris1{
    color: #f10505;
    font-family: sans-serif;
    margin-left: 35px;
    margin-top: 30px;
    font-size: 20px;
}
    
.paris2{
    text-decoration: line-through;
    position: relative;
    color: red;
    margin-top: 25px;
    margin-left: 35px;
    font-family: sans-serif;
    font: bold;
}
.hr2{
    margin-left: 120px;
}
.back1{
    position: relative;
    left: 700px;
    top: -325px;
    font-size: 24px;
}
.back{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
    left:650px ;
    top:-295px ;
    color: white;
    font-size: 28px;
}
.plus{
    display: inline-block;
   position:relative;
   left: 780px;
   top: -35px;
   padding: 10px;
   background-color: red;
   border-radius: 100%;
   color: white;
   font-size: larger;
   font-weight: bold;
   



}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color:whitesmoke;
    color: black;
    text-align: center;
}
.icon1{
    position: relative;
    top: 40px;
    left: -40px;
}
.icon2{
    position: relative;
    top: -38px;
    left:53px;
}
.icon3{
    position: relative;
    top: -40px;
    right:80px;
}
a{
    color: black;
    text-decoration: none;
}
